.Head {
    text-align: center;

}

.Head-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 100px;
}

.Head-header {
    background-color: #222;
    padding: 10px;
    color: white;
}

.Head-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
